{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1> Liste des contrats en cours</h1>
        {% for contract in contracts %}
        <div class="card border-secondary mb-3">
            <div class="card-header">Contrat n°{{ contract.id }}</div>
            <div class="card-body">
                <h4 class="card-title">Titulaire : {{ contract.interim.firstName }} {{ contract.interim.lastName|upper }}</h4>
                <p class="card-text">date de début : {{ contract.startAt|date("m/d/Y") }}</p>
                <p class="card-text">date de fin : {{ contract.endAt|date("m/d/Y") }}</p>
                <p class="card-text">Statut du contrat : {{ contract.status.name }}</p>
                <a href="{{ path('contract_edit', { 'id': contract.id }) }}" class="btn btn-info">  <i class="fas fa-edit"></i> Editer</a>
                <a href="{{ path('contract_delete', { 'id': contract.id }) }}" class="btn btn-danger" id="delete">  <i class="fas fa-trash"></i> Supprimer</a>

                {% if contract.missionTracking %}
                    <a href="{{ path('missionTracking_show', { 'id': contract.missionTracking.id }) }}" class="btn btn-light">  <i class="fas fa-edit"></i> Voir suivi de mission n°{{ contract.missionTracking.id }}</a>
                {% else %}
                    <a href="{{ path('missionTracking_add', { 'id': contract.id }) }}" class="btn btn-success">  <i class="fas fa-plus"></i> Ajouter mission de suivi</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>


{% endblock %}

