{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="section-form">
        <h1>Créer/modifier une mission de suivie pour le contrat n°{{ contract.id }}</h1>

        {{ form_start(formTracking) }}

        {{ form_widget(formTracking) }}

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Enregistrer">
            <a href="{{ path('contract') }}" class="btn btn-danger">Annuler</a>
        </div>

        {{ form_end(formTracking) }}

    </section>

{% endblock %}

